---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - Basic invalid-encoded-token
  response:
    status:
      code: 403
      message: Unauthorized
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 13 Nov 2017 19:16:54 GMT
      Ml:
      - A
      Status:
      - 403 Unauthorized
      X-Connection-Hash:
      - bf48550a6236c0836975110d7f65dfce
      X-Response-Time:
      - '126'
      X-Transaction:
      - 003be55d00260d39
      X-Tsa-Request-Body-Time:
      - '3'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Mon, 13 Nov 2017 19:16:54 GMT
recorded_with: VCR 3.0.3
