---
http_interactions:
- request:
    method: get
    uri: <%= ENV.fetch('TWITTER_HOST')%>/1.1/search/tweets.json?q=ruby%20on%20rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 17 Nov 2017 11:01:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 3d9058c67d7e3eff06f8829bcdeb37e3
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '447'
      X-Rate-Limit-Reset:
      - '1510916787'
      X-Response-Time:
      - '159'
      X-Transaction:
      - 00d1eec900b2a44e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Fri Nov 17 11:00:35 +0000 2017","id":931477158693933057,"id_str":"931477158693933057","text":"See
        our top list of RoR ecommerce platforms and frameworks can be used for your
        next project https:\/\/t.co\/h2lBmJCor4 https:\/\/t.co\/BRW9OvVjde","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/h2lBmJCor4","expanded_url":"https:\/\/goo.gl\/nWcjSk","display_url":"goo.gl\/nWcjSk","indices":[93,116]}],"media":[{"id":931477155673976832,"id_str":"931477155673976832","indices":[117,140],"media_url":"http:\/\/pbs.twimg.com\/media\/DO1FibRWsAA2KEt.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DO1FibRWsAA2KEt.jpg","url":"https:\/\/t.co\/BRW9OvVjde","display_url":"pic.twitter.com\/BRW9OvVjde","expanded_url":"https:\/\/twitter.com\/IkantamCorp\/status\/931477158693933057\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":640,"h":426,"resize":"fit"},"small":{"w":640,"h":426,"resize":"fit"},"large":{"w":640,"h":426,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":931477155673976832,"id_str":"931477155673976832","indices":[117,140],"media_url":"http:\/\/pbs.twimg.com\/media\/DO1FibRWsAA2KEt.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DO1FibRWsAA2KEt.jpg","url":"https:\/\/t.co\/BRW9OvVjde","display_url":"pic.twitter.com\/BRW9OvVjde","expanded_url":"https:\/\/twitter.com\/IkantamCorp\/status\/931477158693933057\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":640,"h":426,"resize":"fit"},"small":{"w":640,"h":426,"resize":"fit"},"large":{"w":640,"h":426,"resize":"fit"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/www.heardlocally.com\" rel=\"nofollow\"\u003eHLATA\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":487554855,"id_str":"487554855","name":"iKantam","screen_name":"IkantamCorp","location":"","description":"Web
        (Ruby on Rails & PHP) & mobile (iOS & Android) development","url":"http:\/\/t.co\/hHiHpa5PFE","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/hHiHpa5PFE","expanded_url":"http:\/\/www.ikantam.com","display_url":"ikantam.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":16310,"friends_count":100,"listed_count":466,"created_at":"Thu
        Feb 09 13:54:16 +0000 2012","favourites_count":918,"utc_offset":10800,"time_zone":"Minsk","geo_enabled":false,"verified":false,"statuses_count":30231,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/421154186\/_________-2.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/421154186\/_________-2.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2796357762\/d7792cc239ef62a85509e94b21caef9c_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2796357762\/d7792cc239ef62a85509e94b21caef9c_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/487554855\/1478242642","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":120,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Fri
        Nov 17 10:47:20 +0000 2017","id":931473827158200321,"id_str":"931473827158200321","text":"RT
        @LiamDevelops: I''ve just read this on @Medium: \u201c5 Ruby on Rails Tips
        You Probably Don\u2019t Know\u201d https:\/\/t.co\/3pwhVMUYku","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"LiamDevelops","name":"Liam","id":930913267865841664,"id_str":"930913267865841664","indices":[3,16]},{"screen_name":"M[...]
